@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext");

* {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.button {
  text-transform: uppercase;
  padding: 0 2rem;
  background: transparent;
  color: #fff;
  border-width: 1px 0;
  cursor: pointer;
  width: fit-content;
  height: 3rem;
  border-color: #fff;
  border-style: solid;
  outline: none;
  white-space: nowrap;
}

.arrow-button {
  width: 3rem;
  border-left-width: 1px;
  padding: 0;
  background-image: url("./left-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

.arrow-button:last-child {
  border-right-width: 1px;
}

.arrow-button--right {
  background-image: url("./right-arrow.svg");
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.background {
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: border 400ms;
  border: 0.5rem solid #fff;
  overflow: hidden;
}

.background--extended-border {
  border-width: 1rem;
}

.background__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 600ms;
  transform: scale(1.1);
}

.background__image--blurred {
  filter: blur(3px);
  transform: scale(1.4) translateX(-10%);
}

.main-container__header {
  z-index: 100;
  padding: 2rem 2rem 0 2rem;
}

.header__logo {
  max-height: 2.5rem;
}

.main-container__body {
  z-index: 100;
  flex-grow: 1;
  position: relative;
}

.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.layer-1 {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 5rem;
}

.layer-1__main-text-container {
  width: fit-content;
}

.layer-1__show-more-button-container {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.main-text {
  font-size: 2rem;
}

.main-text__first-line {
  font-weight: 200;
}

.main-text__second-line {
  font-weight: 600;
}

.layer-1__gallery-controls {
  display: flex;
  justify-content: flex-end;
}

.layer-2 {
  z-index: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-top: 5rem;
}

.layer-2__main-text-container {
  width: fit-content;
}

.layer-2__description-container {
  width: 25rem;
  margin-top: 3rem;
}

.layer-2__description {
  line-height: 1.2rem;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 3px;
  margin-bottom: 4rem;
}

.layer-3 {
  z-index: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layer-3__main-text-container {
  width: fit-content;
  position: absolute;
}

.layer-3__container {
  min-width: 10rem;
  max-width: 25rem;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.layer-3__title {
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0 3rem;
}

.layer-3__description {
  line-height: 1.2rem;
  font-size: 0.7rem;
  font-weight: 200;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.main-container__footer {
  z-index: 100;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  justify-content: space-between;
}

.hideable {
  transition: opacity 400ms;
}

.hidden {
  opacity: 0;
}

.text-field {
  text-transform: uppercase;
  padding: 0 2rem;
  height: 3rem;
  background: transparent;
  color: #fff;
  border: solid #fff;
  border-width: 1px 0 0 0;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.5rem;
  font-weight: bold;
  outline: none;
}

.text-field::placeholder {
  transition: opacity 300ms;
  color: #fff;
}

.text-field:focus::placeholder {
  opacity: 0;
}

.text-field:last-child {
  border-bottom-width: 1px;
}

.text-field--no-uppercase {
  text-transform: none;
}

.text-field--no-uppercase::placeholder {
  text-transform: uppercase;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form__agreement-checkbox {
  margin-bottom: 2rem;
}

.checkbox {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.checkbox__container {
  width: 1rem;
  height: 1rem;
  border: 2px solid #fff;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 2px;
  margin-right: 0.5rem;
}

.checkbox__checkmark {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.checkbox__checkmark--checked {
  opacity: 1;
}

@media (max-width: 425px) {
  .main-container__header {
    display: flex;
    justify-content: center;
  }

  .header__logo {
    max-height: 3.5rem;
  }

  .background {
    background-color: #000;
  }

  .background__image {
    opacity: 0.6;
    object-position: right;
  }

  .layer-1 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    justify-content: center;
    align-items: center;
  }

  .main-text {
    text-align: center;
    font-size: 1rem;
    line-height: 1.8;
  }

  .layer-1__show-more-button {
    border-width: 1px;
    height: 4rem;
    padding: 0 2.5rem;
  }

  .layer-1__show-more-button > span {
    display: none;
  }

  .layer-1__show-more-button:before {
    font-weight: bold;
    content: "Więcej";
  }

  .main-container__footer {
    position: relative;
    justify-content: center;
  }

  .back-button-container {
    position: absolute;
  }

  .back-button-container.hidden {
    pointer-events: none;
  }

  .layer-1__gallery-controls.hidden {
    pointer-events: none;
  }

  .layer-2 {
    padding: 1rem 3.5rem 0 3.5rem;
  }

  .layer-2__description-container {
    width: 100%;
  }
}
