@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext");

* {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container__background {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-container__header {
}

.main-container__body {
  flex-grow: 1;
  position: relative;
}

.main-container__footer {
}

.layer {
  position: absolute;
  height: 100%;
}

.layer-1 {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 5rem;
}

.layer-1__show-more-button {
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  background: transparent;
  color: #fff;
  border-width: 1px 0;
  cursor: pointer;
  width: fit-content;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.main-text {
  font-size: 2rem;
}

.main-text__first-line {
  font-weight: 200;
}

.main-text__second-line {
  font-weight: 600;
}

.layer-2 {
  z-index: 0;
  visibility: hidden;
}

.layer-3 {
  z-index: 0;
  visibility: hidden;
}
