@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');

* {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container__header {}

.main-container__body {
  flex-grow: 1;
}

.main-container__footer {}

.layer {
  position: absolute;
}

.layer-1 {
  z-index: 100;
}

.layer-2 {
  z-index: 0;
  visibility: hidden;
}

.layer-3 {
  z-index: 0;
  visibility: hidden;
}